{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row ">
           <div class="col-md-1"></div>
       {% for index, product in products %}

           <div class="col-md-5 col-sm-7">
               {% include 'products/partials/item.twig' with{product: product} %}
           </div>
           {% if (index + 1) % 2 == 0 %}
           </div>
           <div class="row">
           <div class="col-md-1"></div>
           
           {% endif %}
       {% endfor %}
    </div>
{% endblock %}

