<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T one</title>
    
    <!--    For search engines-->
    <meta name="robots" content="index, follow">
    <meta name="description" content="T one => state-of-the-art webshop that sells unique t-shirts ">
    
    <!--Stylesheets-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../css/styles.css">
    
    <!--    Open Graph to display on social media-->
    <meta property="og:url"                content="http://T-One.be" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="T One" />
    <meta property="og:description"        content="T one => state-of-the-art webshop that sells unique t-shirts " />
    <meta property="og:image"              content="http://bellissimo-beauty.be/img/logo.jpg"  />

</head>
<body>
   {% include 'templates/partials/navigation.twig' %}
   
   <div class="container">
       {% block content %}{% endblock %}
       
   </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>